.checklistResultsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.topRow {
  display: flex;
  border: 2pt solid rgb(207, 207, 207);
  border-radius: 0.3rem;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
}
.topRowColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1pt solid rgb(207, 207, 207);
  border-radius: 0.3rem;
  width: 50%;
  padding: 10px;
}
.statsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2pt solid rgb(207, 207, 207);
  border-radius: 0.3rem;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  width: 100%;
}
.sectionsHeadings {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-font-color);
  color: white;
  font-size: 30pt;
  width: 100%;
  padding: 10px 0px 10px 0px;
}
.statsRow {
  display: flex;
  border-radius: 0.3rem;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
}
.contentRow {
  display: flex;
  flex-direction: column;
  border: 2pt solid rgb(207, 207, 207);
  border-radius: 0.3rem;
  gap: 0.5rem;
  padding: 20px;
  margin-bottom: 5px;
  width: 100%;
}
