/* .markersContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
} */
.listsContainer {
  border: 2pt solid navy;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  padding: 10px;
  /* box-shadow: 2px 2px 5px rgb(137, 137, 137); */
  padding: 10px 20px 10px 20px;
}

.listHeader {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.listContent {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  gap: 0.8rem;
  width: 100%;
  padding: 10px;
  height: 250px;
}

.markerDetails {
  display: flex;
  gap: 1rem;
}
