.userInputButton {
    max-width: 300px;
    text-align: center;
    padding: 1rem 1.5rem;
    margin: 1rem;
    border: 1px solid var(--tertiary-font-color);
    border-radius: 25px;
  }
  
  .userInputButton:hover,
  .userInputButton:active {
    background-color: var(--tertiary-font-color);
    color: var(--primary-font-color);
  }
  
  .userInputButton:active {
    transition: transform 0.4s;
    transform: translateY(5px);
  }

  .disabledUserInputButton {
    max-width: 300px;
    cursor: not-allowed;
    text-align: center;
    padding: 1rem 1.5rem;
    margin: 1rem;
    border: 1px solid var(--secondary-font-color);
    background-color: var(--secondary-font-color);
    color: var(--primary-font-color);
    border-radius: 25px;
  }